@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
  background: #090a0f;
}

.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 929px 992px #fff, 1699px 471px #fff, 1871px 1512px #fff,
    960px 1533px #fff, 1030px 1679px #fff, 23px 583px #fff, 385px 469px #fff,
    284px 24px #fff, 912px 1456px #fff, 1645px 120px #fff, 864px 1790px #fff,
    508px 306px #fff, 331px 1451px #fff, 1472px 757px #fff, 1402px 1377px #fff,
    1951px 1271px #fff, 1404px 295px #fff, 1493px 35px #fff, 1042px 1377px #fff,
    1159px 1122px #fff, 1482px 1043px #fff, 1397px 1844px #fff,
    1461px 1438px #fff, 1162px 1370px #fff, 558px 1879px #fff, 491px 1606px #fff,
    1611px 929px #fff, 355px 1821px #fff, 1797px 566px #fff, 1026px 930px #fff,
    967px 1665px #fff, 238px 573px #fff, 1507px 971px #fff, 1504px 1138px #fff,
    1019px 1025px #fff, 75px 170px #fff, 1031px 545px #fff, 31px 1916px #fff,
    931px 225px #fff, 672px 161px #fff, 301px 21px #fff, 699px 1951px #fff,
    1627px 100px #fff, 1689px 159px #fff, 1536px 543px #fff, 1873px 1634px #fff,
    917px 173px #fff, 1124px 566px #fff, 1932px 1190px #fff, 1019px 475px #fff,
    1430px 1981px #fff, 1098px 810px #fff, 1604px 1846px #fff, 521px 757px #fff,
    519px 1180px #fff, 599px 896px #fff, 1600px 1887px #fff, 1238px 32px #fff,
    1828px 1223px #fff, 253px 1173px #fff, 814px 1270px #fff, 612px 1256px #fff,
    504px 132px #fff, 1211px 1111px #fff, 1322px 568px #fff, 294px 612px #fff,
    997px 620px #fff, 839px 115px #fff, 400px 763px #fff, 1247px 1715px #fff,
    1106px 949px #fff, 1403px 227px #fff, 963px 1251px #fff, 1810px 1499px #fff,
    735px 232px #fff, 1432px 1677px #fff, 286px 1194px #fff, 739px 89px #fff,
    15px 1408px #fff, 498px 181px #fff, 469px 1294px #fff, 1693px 1244px #fff,
    1369px 1467px #fff, 1653px 1954px #fff, 29px 1596px #fff, 1831px 1955px #fff,
    1733px 1647px #fff, 1026px 692px #fff, 1247px 1786px #fff, 892px 990px #fff,
    305px 981px #fff, 1586px 613px #fff, 1626px 782px #fff, 533px 105px #fff,
    567px 1128px #fff, 1262px 603px #fff, 9px 1051px #fff, 368px 1967px #fff,
    710px 1651px #fff, 1320px 788px #fff, 1122px 585px #fff, 752px 541px #fff,
    453px 1168px #fff, 654px 1936px #fff, 1103px 1523px #fff, 144px 92px #fff,
    1517px 796px #fff, 914px 1620px #fff, 798px 1793px #fff, 221px 529px #fff,
    257px 21px #fff, 449px 503px #fff, 578px 169px #fff, 393px 1483px #fff,
    748px 609px #fff, 1485px 259px #fff, 218px 1979px #fff, 832px 1309px #fff,
    759px 953px #fff, 200px 990px #fff, 519px 1950px #fff, 33px 1984px #fff,
    1122px 1202px #fff, 776px 873px #fff, 917px 755px #fff, 1190px 782px #fff,
    1941px 1683px #fff, 1662px 487px #fff, 1868px 730px #fff, 575px 1307px #fff,
    538px 662px #fff, 261px 1227px #fff, 212px 632px #fff, 1230px 417px #fff,
    1509px 1756px #fff, 1028px 1000px #fff, 974px 1439px #fff, 1630px 646px #fff,
    927px 1817px #fff, 1694px 1578px #fff, 1442px 715px #fff, 1266px 805px #fff,
    716px 1639px #fff, 177px 771px #fff, 1701px 958px #fff, 1943px 1443px #fff,
    1209px 1332px #fff, 1094px 170px #fff, 1011px 1629px #fff, 813px 298px #fff,
    533px 1862px #fff, 694px 313px #fff, 670px 1628px #fff, 1258px 1746px #fff,
    1864px 297px #fff, 303px 499px #fff, 1350px 450px #fff, 1768px 1838px #fff,
    567px 121px #fff, 1482px 1460px #fff, 54px 1552px #fff, 1345px 1263px #fff,
    597px 1522px #fff, 209px 169px #fff, 262px 463px #fff, 1211px 270px #fff,
    625px 1178px #fff, 708px 1212px #fff, 1409px 652px #fff, 1022px 1583px #fff,
    1306px 9px #fff, 30px 727px #fff, 1019px 854px #fff, 404px 705px #fff,
    1740px 1813px #fff, 1552px 613px #fff, 145px 1635px #fff, 1246px 1396px #fff,
    1052px 1020px #fff, 1167px 1109px #fff, 1483px 501px #fff, 817px 1550px #fff,
    802px 1989px #fff, 473px 1848px #fff, 1608px 1060px #fff, 1508px 36px #fff,
    1286px 381px #fff, 846px 622px #fff, 1522px 547px #fff, 1739px 1222px #fff,
    209px 1925px #fff, 747px 1734px #fff, 1746px 504px #fff, 1464px 1442px #fff,
    1013px 1303px #fff, 1943px 877px #fff, 934px 1417px #fff, 1375px 1048px #fff,
    1761px 670px #fff, 879px 1303px #fff, 29px 673px #fff, 1602px 766px #fff,
    334px 1638px #fff, 1991px 26px #fff, 1033px 1668px #fff, 808px 1367px #fff,
    627px 1588px #fff, 778px 1492px #fff, 1474px 1874px #fff, 1667px 420px #fff,
    1370px 1750px #fff, 859px 1382px #fff, 202px 981px #fff, 611px 1358px #fff,
    87px 1255px #fff, 767px 328px #fff, 1573px 530px #fff, 446px 367px #fff,
    1669px 1843px #fff, 1606px 1017px #fff, 1671px 230px #fff, 906px 1749px #fff,
    317px 989px #fff, 377px 42px #fff, 357px 1027px #fff, 1062px 1614px #fff,
    1800px 1727px #fff, 459px 1056px #fff, 950px 1459px #fff, 935px 1845px #fff,
    1516px 1029px #fff, 372px 1452px #fff, 1881px 1984px #fff, 48px 301px #fff,
    1297px 1968px #fff, 444px 1339px #fff, 901px 1238px #fff, 625px 1430px #fff,
    285px 1385px #fff, 1703px 578px #fff, 1451px 1696px #fff, 1983px 372px #fff,
    1315px 419px #fff, 591px 251px #fff, 404px 663px #fff, 717px 1637px #fff,
    796px 155px #fff, 1923px 271px #fff, 1305px 1800px #fff, 692px 1757px #fff,
    765px 709px #fff, 1240px 1141px #fff, 969px 1832px #fff, 1797px 608px #fff,
    1736px 1791px #fff, 413px 538px #fff, 1396px 201px #fff, 1443px 1628px #fff,
    1836px 1261px #fff, 148px 1137px #fff, 857px 1179px #fff, 1626px 230px #fff,
    1193px 65px #fff, 1842px 1083px #fff, 1927px 1979px #fff, 1970px 1642px #fff,
    1363px 772px #fff, 368px 626px #fff, 1982px 737px #fff, 780px 545px #fff,
    159px 766px #fff, 1744px 1596px #fff, 1403px 1663px #fff, 420px 1305px #fff,
    1493px 216px #fff, 1488px 1887px #fff, 1973px 1731px #fff,
    1794px 1798px #fff, 1735px 12px #fff, 1221px 1134px #fff, 294px 1289px #fff,
    838px 1008px #fff, 375px 900px #fff, 760px 893px #fff, 579px 1312px #fff,
    1856px 533px #fff, 817px 783px #fff, 98px 736px #fff, 1133px 1518px #fff,
    1473px 769px #fff, 1268px 1005px #fff, 277px 1498px #fff, 202px 1657px #fff,
    799px 1364px #fff, 400px 1803px #fff, 60px 1360px #fff, 1845px 571px #fff,
    942px 1609px #fff, 1155px 1678px #fff, 1911px 1060px #fff, 873px 427px #fff,
    1008px 177px #fff, 50px 1734px #fff, 1476px 64px #fff, 1880px 335px #fff,
    1907px 1686px #fff, 1328px 1222px #fff, 711px 675px #fff, 527px 1923px #fff,
    95px 1872px #fff, 1396px 1148px #fff, 958px 629px #fff, 1812px 1543px #fff,
    1364px 511px #fff, 215px 1975px #fff, 1178px 34px #fff, 1001px 1567px #fff,
    91px 878px #fff, 1615px 1731px #fff, 1974px 532px #fff, 1092px 993px #fff,
    1699px 1824px #fff, 270px 596px #fff, 1685px 890px #fff, 894px 613px #fff,
    1389px 1050px #fff, 711px 1387px #fff, 67px 1743px #fff, 1775px 325px #fff,
    190px 514px #fff, 230px 1643px #fff, 1782px 522px #fff, 1312px 400px #fff,
    570px 1429px #fff, 1598px 7px #fff, 1528px 126px #fff, 225px 868px #fff,
    1818px 1606px #fff, 461px 128px #fff, 926px 1560px #fff, 445px 1288px #fff,
    1419px 1210px #fff, 1797px 667px #fff, 1030px 14px #fff, 225px 64px #fff,
    694px 735px #fff, 39px 595px #fff, 1062px 962px #fff, 10px 127px #fff,
    1174px 460px #fff, 1574px 1411px #fff, 1598px 1808px #fff, 992px 191px #fff,
    1575px 654px #fff, 1095px 190px #fff, 1898px 562px #fff, 157px 214px #fff,
    1262px 953px #fff, 1839px 346px #fff, 659px 1583px #fff, 1542px 73px #fff,
    1004px 190px #fff, 1106px 1694px #fff, 1994px 439px #fff, 832px 501px #fff,
    1390px 481px #fff, 1433px 1983px #fff, 1841px 102px #fff, 1623px 1072px #fff,
    679px 1966px #fff, 929px 1031px #fff, 387px 1578px #fff, 180px 45px #fff,
    526px 376px #fff, 663px 1964px #fff, 1534px 1662px #fff, 701px 189px #fff,
    1065px 866px #fff, 1072px 349px #fff, 1775px 734px #fff, 784px 969px #fff,
    1171px 1248px #fff, 812px 437px #fff, 1633px 1091px #fff, 1799px 17px #fff,
    1671px 1348px #fff, 1748px 174px #fff, 807px 1809px #fff, 821px 1683px #fff,
    644px 205px #fff, 1147px 1353px #fff, 1948px 1179px #fff, 1469px 295px #fff,
    1659px 352px #fff, 356px 15px #fff, 422px 771px #fff, 1358px 1346px #fff,
    1214px 1614px #fff, 799px 83px #fff, 1668px 651px #fff, 326px 911px #fff,
    373px 1505px #fff, 974px 1439px #fff, 876px 991px #fff, 586px 1835px #fff,
    1352px 1808px #fff, 1599px 960px #fff, 1907px 1840px #fff, 412px 713px #fff,
    782px 634px #fff, 493px 1518px #fff, 1316px 1162px #fff, 689px 1538px #fff,
    1412px 1732px #fff, 1669px 766px #fff, 57px 1246px #fff, 1783px 1227px #fff,
    490px 244px #fff, 1966px 789px #fff, 1529px 155px #fff, 1272px 1151px #fff,
    50px 951px #fff, 1175px 1917px #fff, 467px 1653px #fff, 1670px 93px #fff,
    753px 1464px #fff, 110px 1653px #fff, 1027px 593px #fff, 9px 711px #fff,
    47px 1849px #fff, 1280px 1836px #fff, 10px 498px #fff, 390px 159px #fff,
    1224px 5px #fff, 44px 937px #fff, 1473px 439px #fff, 543px 674px #fff,
    952px 1056px #fff, 1081px 1818px #fff, 354px 878px #fff, 638px 380px #fff,
    1661px 1754px #fff, 817px 1026px #fff, 1433px 1748px #fff,
    1304px 1405px #fff, 625px 1316px #fff, 911px 391px #fff, 215px 1802px #fff,
    978px 95px #fff, 316px 848px #fff, 1937px 159px #fff, 1588px 251px #fff,
    1077px 1885px #fff, 557px 1505px #fff, 272px 1789px #fff, 271px 415px #fff,
    1285px 1003px #fff, 1512px 662px #fff, 1487px 464px #fff, 1143px 1741px #fff,
    1287px 1292px #fff, 1346px 1246px #fff, 1728px 661px #fff, 354px 1137px #fff,
    1450px 836px #fff, 1352px 25px #fff, 1563px 1595px #fff, 230px 584px #fff,
    768px 73px #fff, 221px 90px #fff, 663px 8px #fff, 1543px 1365px #fff,
    601px 1640px #fff, 1023px 1952px #fff, 1517px 705px #fff, 1325px 1259px #fff,
    1553px 174px #fff, 1378px 144px #fff, 305px 763px #fff, 1147px 777px #fff,
    856px 1130px #fff, 1681px 1533px #fff, 1973px 258px #fff, 298px 1709px #fff,
    973px 1082px #fff, 1312px 440px #fff, 702px 481px #fff, 1598px 1624px #fff,
    1107px 291px #fff, 464px 1225px #fff, 1276px 1491px #fff, 831px 638px #fff,
    346px 1714px #fff, 235px 1797px #fff, 1603px 1880px #fff, 1140px 1206px #fff,
    182px 1069px #fff, 177px 1485px #fff, 1306px 1060px #fff, 1717px 905px #fff,
    1919px 88px #fff, 1818px 1545px #fff, 1890px 1132px #fff, 1398px 1015px #fff,
    808px 396px #fff, 717px 1209px #fff, 1455px 1144px #fff, 1668px 952px #fff,
    1903px 474px #fff, 1683px 691px #fff, 1652px 899px #fff, 1027px 1815px #fff,
    1409px 231px #fff, 946px 1445px #fff, 1389px 709px #fff, 1206px 1148px #fff,
    1626px 1357px #fff, 281px 1674px #fff, 1706px 467px #fff, 1212px 1742px #fff,
    11px 392px #fff, 112px 186px #fff, 218px 825px #fff, 1184px 286px #fff,
    1090px 890px #fff, 341px 349px #fff, 1251px 1251px #fff, 639px 1240px #fff,
    1569px 81px #fff, 34px 112px #fff, 717px 1466px #fff, 1190px 294px #fff,
    963px 683px #fff, 933px 67px #fff, 668px 1989px #fff, 260px 1914px #fff,
    1069px 1038px #fff, 1362px 131px #fff, 204px 1819px #fff, 1424px 1399px #fff,
    1940px 219px #fff, 1846px 1104px #fff, 1462px 194px #fff, 407px 715px #fff,
    1986px 87px #fff, 214px 555px #fff, 119px 1761px #fff, 671px 1339px #fff,
    223px 1651px #fff, 711px 897px #fff, 889px 1492px #fff, 75px 1152px #fff,
    1555px 1353px #fff, 711px 1208px #fff, 1480px 1347px #fff, 707px 817px #fff,
    1945px 565px #fff, 1153px 1154px #fff, 1774px 100px #fff, 1271px 412px #fff,
    1949px 1050px #fff, 885px 977px #fff, 1324px 1654px #fff, 1238px 436px #fff,
    706px 1542px #fff, 1542px 137px #fff, 1149px 1995px #fff, 634px 1366px #fff,
    1032px 1688px #fff, 1412px 1474px #fff, 680px 1498px #fff, 610px 261px #fff,
    1272px 1607px #fff, 1364px 1326px #fff, 1881px 665px #fff, 788px 668px #fff,
    1859px 1291px #fff, 319px 467px #fff, 769px 1579px #fff, 1838px 496px #fff,
    1314px 1633px #fff, 714px 361px #fff, 1645px 254px #fff, 670px 1434px #fff,
    56px 1541px #fff, 1070px 1264px #fff, 41px 1088px #fff, 1341px 609px #fff,
    1751px 954px #fff, 1057px 233px #fff, 424px 498px #fff, 631px 719px #fff,
    1906px 1793px #fff, 816px 847px #fff, 1138px 1022px #fff, 899px 592px #fff,
    1133px 206px #fff, 783px 1708px #fff, 862px 1979px #fff, 145px 1002px #fff,
    1530px 739px #fff, 1239px 638px #fff, 393px 194px #fff, 630px 1651px #fff,
    1292px 882px #fff, 268px 1230px #fff, 261px 124px #fff, 567px 1997px #fff,
    758px 1568px #fff, 1560px 1214px #fff, 1173px 631px #fff, 1165px 729px #fff,
    1392px 1403px #fff, 1499px 760px #fff, 921px 50px #fff, 1400px 1597px #fff,
    569px 696px #fff, 1035px 1525px #fff, 666px 130px #fff, 1428px 989px #fff,
    101px 1309px #fff, 271px 276px #fff, 1277px 1352px #fff, 1724px 310px #fff,
    607px 1281px #fff, 1385px 309px #fff, 1802px 605px #fff, 1048px 1217px #fff,
    119px 197px #fff, 985px 393px #fff, 1621px 492px #fff, 187px 1349px #fff,
    432px 1010px #fff, 18px 1090px #fff, 1550px 313px #fff, 444px 1913px #fff,
    326px 681px #fff, 1020px 1588px #fff, 283px 1305px #fff, 277px 799px #fff,
    351px 4px #fff, 1580px 1788px #fff, 1821px 1820px #fff, 1613px 1514px #fff,
    194px 667px #fff, 517px 1289px #fff, 81px 875px #fff, 1685px 1928px #fff,
    1947px 105px #fff, 126px 1748px #fff, 1946px 1859px #fff, 715px 1428px #fff,
    508px 1469px #fff, 37px 463px #fff, 1634px 1927px #fff, 1931px 317px #fff,
    208px 1991px #fff, 1102px 1014px #fff, 1424px 1556px #fff, 1503px 583px #fff,
    1871px 250px #fff, 23px 401px #fff, 933px 466px #fff, 458px 823px #fff,
    1842px 1258px #fff, 1522px 939px #fff, 1975px 1112px #fff, 868px 1670px #fff,
    439px 846px #fff, 376px 985px #fff, 1887px 1356px #fff, 1913px 1907px #fff,
    689px 229px #fff, 1988px 1601px #fff, 768px 304px #fff, 1818px 1017px #fff,
    1864px 1251px #fff, 244px 912px #fff, 76px 1632px #fff, 187px 1557px #fff,
    1074px 1443px #fff, 1478px 620px #fff, 343px 1126px #fff, 1060px 301px #fff,
    1873px 1785px #fff, 1453px 452px #fff, 1069px 1459px #fff, 1728px 754px #fff,
    704px 157px #fff, 1097px 1294px #fff, 1411px 69px #fff, 101px 718px #fff,
    1632px 377px #fff, 424px 584px #fff, 1801px 1106px #fff, 1161px 327px #fff,
    1659px 1502px #fff, 452px 1680px #fff, 336px 968px #fff, 248px 175px #fff;
  animation: animStar 50s linear infinite;
}
.stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 929px 992px #fff, 1699px 471px #fff, 1871px 1512px #fff,
    960px 1533px #fff, 1030px 1679px #fff, 23px 583px #fff, 385px 469px #fff,
    284px 24px #fff, 912px 1456px #fff, 1645px 120px #fff, 864px 1790px #fff,
    508px 306px #fff, 331px 1451px #fff, 1472px 757px #fff, 1402px 1377px #fff,
    1951px 1271px #fff, 1404px 295px #fff, 1493px 35px #fff, 1042px 1377px #fff,
    1159px 1122px #fff, 1482px 1043px #fff, 1397px 1844px #fff,
    1461px 1438px #fff, 1162px 1370px #fff, 558px 1879px #fff, 491px 1606px #fff,
    1611px 929px #fff, 355px 1821px #fff, 1797px 566px #fff, 1026px 930px #fff,
    967px 1665px #fff, 238px 573px #fff, 1507px 971px #fff, 1504px 1138px #fff,
    1019px 1025px #fff, 75px 170px #fff, 1031px 545px #fff, 31px 1916px #fff,
    931px 225px #fff, 672px 161px #fff, 301px 21px #fff, 699px 1951px #fff,
    1627px 100px #fff, 1689px 159px #fff, 1536px 543px #fff, 1873px 1634px #fff,
    917px 173px #fff, 1124px 566px #fff, 1932px 1190px #fff, 1019px 475px #fff,
    1430px 1981px #fff, 1098px 810px #fff, 1604px 1846px #fff, 521px 757px #fff,
    519px 1180px #fff, 599px 896px #fff, 1600px 1887px #fff, 1238px 32px #fff,
    1828px 1223px #fff, 253px 1173px #fff, 814px 1270px #fff, 612px 1256px #fff,
    504px 132px #fff, 1211px 1111px #fff, 1322px 568px #fff, 294px 612px #fff,
    997px 620px #fff, 839px 115px #fff, 400px 763px #fff, 1247px 1715px #fff,
    1106px 949px #fff, 1403px 227px #fff, 963px 1251px #fff, 1810px 1499px #fff,
    735px 232px #fff, 1432px 1677px #fff, 286px 1194px #fff, 739px 89px #fff,
    15px 1408px #fff, 498px 181px #fff, 469px 1294px #fff, 1693px 1244px #fff,
    1369px 1467px #fff, 1653px 1954px #fff, 29px 1596px #fff, 1831px 1955px #fff,
    1733px 1647px #fff, 1026px 692px #fff, 1247px 1786px #fff, 892px 990px #fff,
    305px 981px #fff, 1586px 613px #fff, 1626px 782px #fff, 533px 105px #fff,
    567px 1128px #fff, 1262px 603px #fff, 9px 1051px #fff, 368px 1967px #fff,
    710px 1651px #fff, 1320px 788px #fff, 1122px 585px #fff, 752px 541px #fff,
    453px 1168px #fff, 654px 1936px #fff, 1103px 1523px #fff, 144px 92px #fff,
    1517px 796px #fff, 914px 1620px #fff, 798px 1793px #fff, 221px 529px #fff,
    257px 21px #fff, 449px 503px #fff, 578px 169px #fff, 393px 1483px #fff,
    748px 609px #fff, 1485px 259px #fff, 218px 1979px #fff, 832px 1309px #fff,
    759px 953px #fff, 200px 990px #fff, 519px 1950px #fff, 33px 1984px #fff,
    1122px 1202px #fff, 776px 873px #fff, 917px 755px #fff, 1190px 782px #fff,
    1941px 1683px #fff, 1662px 487px #fff, 1868px 730px #fff, 575px 1307px #fff,
    538px 662px #fff, 261px 1227px #fff, 212px 632px #fff, 1230px 417px #fff,
    1509px 1756px #fff, 1028px 1000px #fff, 974px 1439px #fff, 1630px 646px #fff,
    927px 1817px #fff, 1694px 1578px #fff, 1442px 715px #fff, 1266px 805px #fff,
    716px 1639px #fff, 177px 771px #fff, 1701px 958px #fff, 1943px 1443px #fff,
    1209px 1332px #fff, 1094px 170px #fff, 1011px 1629px #fff, 813px 298px #fff,
    533px 1862px #fff, 694px 313px #fff, 670px 1628px #fff, 1258px 1746px #fff,
    1864px 297px #fff, 303px 499px #fff, 1350px 450px #fff, 1768px 1838px #fff,
    567px 121px #fff, 1482px 1460px #fff, 54px 1552px #fff, 1345px 1263px #fff,
    597px 1522px #fff, 209px 169px #fff, 262px 463px #fff, 1211px 270px #fff,
    625px 1178px #fff, 708px 1212px #fff, 1409px 652px #fff, 1022px 1583px #fff,
    1306px 9px #fff, 30px 727px #fff, 1019px 854px #fff, 404px 705px #fff,
    1740px 1813px #fff, 1552px 613px #fff, 145px 1635px #fff, 1246px 1396px #fff,
    1052px 1020px #fff, 1167px 1109px #fff, 1483px 501px #fff, 817px 1550px #fff,
    802px 1989px #fff, 473px 1848px #fff, 1608px 1060px #fff, 1508px 36px #fff,
    1286px 381px #fff, 846px 622px #fff, 1522px 547px #fff, 1739px 1222px #fff,
    209px 1925px #fff, 747px 1734px #fff, 1746px 504px #fff, 1464px 1442px #fff,
    1013px 1303px #fff, 1943px 877px #fff, 934px 1417px #fff, 1375px 1048px #fff,
    1761px 670px #fff, 879px 1303px #fff, 29px 673px #fff, 1602px 766px #fff,
    334px 1638px #fff, 1991px 26px #fff, 1033px 1668px #fff, 808px 1367px #fff,
    627px 1588px #fff, 778px 1492px #fff, 1474px 1874px #fff, 1667px 420px #fff,
    1370px 1750px #fff, 859px 1382px #fff, 202px 981px #fff, 611px 1358px #fff,
    87px 1255px #fff, 767px 328px #fff, 1573px 530px #fff, 446px 367px #fff,
    1669px 1843px #fff, 1606px 1017px #fff, 1671px 230px #fff, 906px 1749px #fff,
    317px 989px #fff, 377px 42px #fff, 357px 1027px #fff, 1062px 1614px #fff,
    1800px 1727px #fff, 459px 1056px #fff, 950px 1459px #fff, 935px 1845px #fff,
    1516px 1029px #fff, 372px 1452px #fff, 1881px 1984px #fff, 48px 301px #fff,
    1297px 1968px #fff, 444px 1339px #fff, 901px 1238px #fff, 625px 1430px #fff,
    285px 1385px #fff, 1703px 578px #fff, 1451px 1696px #fff, 1983px 372px #fff,
    1315px 419px #fff, 591px 251px #fff, 404px 663px #fff, 717px 1637px #fff,
    796px 155px #fff, 1923px 271px #fff, 1305px 1800px #fff, 692px 1757px #fff,
    765px 709px #fff, 1240px 1141px #fff, 969px 1832px #fff, 1797px 608px #fff,
    1736px 1791px #fff, 413px 538px #fff, 1396px 201px #fff, 1443px 1628px #fff,
    1836px 1261px #fff, 148px 1137px #fff, 857px 1179px #fff, 1626px 230px #fff,
    1193px 65px #fff, 1842px 1083px #fff, 1927px 1979px #fff, 1970px 1642px #fff,
    1363px 772px #fff, 368px 626px #fff, 1982px 737px #fff, 780px 545px #fff,
    159px 766px #fff, 1744px 1596px #fff, 1403px 1663px #fff, 420px 1305px #fff,
    1493px 216px #fff, 1488px 1887px #fff, 1973px 1731px #fff,
    1794px 1798px #fff, 1735px 12px #fff, 1221px 1134px #fff, 294px 1289px #fff,
    838px 1008px #fff, 375px 900px #fff, 760px 893px #fff, 579px 1312px #fff,
    1856px 533px #fff, 817px 783px #fff, 98px 736px #fff, 1133px 1518px #fff,
    1473px 769px #fff, 1268px 1005px #fff, 277px 1498px #fff, 202px 1657px #fff,
    799px 1364px #fff, 400px 1803px #fff, 60px 1360px #fff, 1845px 571px #fff,
    942px 1609px #fff, 1155px 1678px #fff, 1911px 1060px #fff, 873px 427px #fff,
    1008px 177px #fff, 50px 1734px #fff, 1476px 64px #fff, 1880px 335px #fff,
    1907px 1686px #fff, 1328px 1222px #fff, 711px 675px #fff, 527px 1923px #fff,
    95px 1872px #fff, 1396px 1148px #fff, 958px 629px #fff, 1812px 1543px #fff,
    1364px 511px #fff, 215px 1975px #fff, 1178px 34px #fff, 1001px 1567px #fff,
    91px 878px #fff, 1615px 1731px #fff, 1974px 532px #fff, 1092px 993px #fff,
    1699px 1824px #fff, 270px 596px #fff, 1685px 890px #fff, 894px 613px #fff,
    1389px 1050px #fff, 711px 1387px #fff, 67px 1743px #fff, 1775px 325px #fff,
    190px 514px #fff, 230px 1643px #fff, 1782px 522px #fff, 1312px 400px #fff,
    570px 1429px #fff, 1598px 7px #fff, 1528px 126px #fff, 225px 868px #fff,
    1818px 1606px #fff, 461px 128px #fff, 926px 1560px #fff, 445px 1288px #fff,
    1419px 1210px #fff, 1797px 667px #fff, 1030px 14px #fff, 225px 64px #fff,
    694px 735px #fff, 39px 595px #fff, 1062px 962px #fff, 10px 127px #fff,
    1174px 460px #fff, 1574px 1411px #fff, 1598px 1808px #fff, 992px 191px #fff,
    1575px 654px #fff, 1095px 190px #fff, 1898px 562px #fff, 157px 214px #fff,
    1262px 953px #fff, 1839px 346px #fff, 659px 1583px #fff, 1542px 73px #fff,
    1004px 190px #fff, 1106px 1694px #fff, 1994px 439px #fff, 832px 501px #fff,
    1390px 481px #fff, 1433px 1983px #fff, 1841px 102px #fff, 1623px 1072px #fff,
    679px 1966px #fff, 929px 1031px #fff, 387px 1578px #fff, 180px 45px #fff,
    526px 376px #fff, 663px 1964px #fff, 1534px 1662px #fff, 701px 189px #fff,
    1065px 866px #fff, 1072px 349px #fff, 1775px 734px #fff, 784px 969px #fff,
    1171px 1248px #fff, 812px 437px #fff, 1633px 1091px #fff, 1799px 17px #fff,
    1671px 1348px #fff, 1748px 174px #fff, 807px 1809px #fff, 821px 1683px #fff,
    644px 205px #fff, 1147px 1353px #fff, 1948px 1179px #fff, 1469px 295px #fff,
    1659px 352px #fff, 356px 15px #fff, 422px 771px #fff, 1358px 1346px #fff,
    1214px 1614px #fff, 799px 83px #fff, 1668px 651px #fff, 326px 911px #fff,
    373px 1505px #fff, 974px 1439px #fff, 876px 991px #fff, 586px 1835px #fff,
    1352px 1808px #fff, 1599px 960px #fff, 1907px 1840px #fff, 412px 713px #fff,
    782px 634px #fff, 493px 1518px #fff, 1316px 1162px #fff, 689px 1538px #fff,
    1412px 1732px #fff, 1669px 766px #fff, 57px 1246px #fff, 1783px 1227px #fff,
    490px 244px #fff, 1966px 789px #fff, 1529px 155px #fff, 1272px 1151px #fff,
    50px 951px #fff, 1175px 1917px #fff, 467px 1653px #fff, 1670px 93px #fff,
    753px 1464px #fff, 110px 1653px #fff, 1027px 593px #fff, 9px 711px #fff,
    47px 1849px #fff, 1280px 1836px #fff, 10px 498px #fff, 390px 159px #fff,
    1224px 5px #fff, 44px 937px #fff, 1473px 439px #fff, 543px 674px #fff,
    952px 1056px #fff, 1081px 1818px #fff, 354px 878px #fff, 638px 380px #fff,
    1661px 1754px #fff, 817px 1026px #fff, 1433px 1748px #fff,
    1304px 1405px #fff, 625px 1316px #fff, 911px 391px #fff, 215px 1802px #fff,
    978px 95px #fff, 316px 848px #fff, 1937px 159px #fff, 1588px 251px #fff,
    1077px 1885px #fff, 557px 1505px #fff, 272px 1789px #fff, 271px 415px #fff,
    1285px 1003px #fff, 1512px 662px #fff, 1487px 464px #fff, 1143px 1741px #fff,
    1287px 1292px #fff, 1346px 1246px #fff, 1728px 661px #fff, 354px 1137px #fff,
    1450px 836px #fff, 1352px 25px #fff, 1563px 1595px #fff, 230px 584px #fff,
    768px 73px #fff, 221px 90px #fff, 663px 8px #fff, 1543px 1365px #fff,
    601px 1640px #fff, 1023px 1952px #fff, 1517px 705px #fff, 1325px 1259px #fff,
    1553px 174px #fff, 1378px 144px #fff, 305px 763px #fff, 1147px 777px #fff,
    856px 1130px #fff, 1681px 1533px #fff, 1973px 258px #fff, 298px 1709px #fff,
    973px 1082px #fff, 1312px 440px #fff, 702px 481px #fff, 1598px 1624px #fff,
    1107px 291px #fff, 464px 1225px #fff, 1276px 1491px #fff, 831px 638px #fff,
    346px 1714px #fff, 235px 1797px #fff, 1603px 1880px #fff, 1140px 1206px #fff,
    182px 1069px #fff, 177px 1485px #fff, 1306px 1060px #fff, 1717px 905px #fff,
    1919px 88px #fff, 1818px 1545px #fff, 1890px 1132px #fff, 1398px 1015px #fff,
    808px 396px #fff, 717px 1209px #fff, 1455px 1144px #fff, 1668px 952px #fff,
    1903px 474px #fff, 1683px 691px #fff, 1652px 899px #fff, 1027px 1815px #fff,
    1409px 231px #fff, 946px 1445px #fff, 1389px 709px #fff, 1206px 1148px #fff,
    1626px 1357px #fff, 281px 1674px #fff, 1706px 467px #fff, 1212px 1742px #fff,
    11px 392px #fff, 112px 186px #fff, 218px 825px #fff, 1184px 286px #fff,
    1090px 890px #fff, 341px 349px #fff, 1251px 1251px #fff, 639px 1240px #fff,
    1569px 81px #fff, 34px 112px #fff, 717px 1466px #fff, 1190px 294px #fff,
    963px 683px #fff, 933px 67px #fff, 668px 1989px #fff, 260px 1914px #fff,
    1069px 1038px #fff, 1362px 131px #fff, 204px 1819px #fff, 1424px 1399px #fff,
    1940px 219px #fff, 1846px 1104px #fff, 1462px 194px #fff, 407px 715px #fff,
    1986px 87px #fff, 214px 555px #fff, 119px 1761px #fff, 671px 1339px #fff,
    223px 1651px #fff, 711px 897px #fff, 889px 1492px #fff, 75px 1152px #fff,
    1555px 1353px #fff, 711px 1208px #fff, 1480px 1347px #fff, 707px 817px #fff,
    1945px 565px #fff, 1153px 1154px #fff, 1774px 100px #fff, 1271px 412px #fff,
    1949px 1050px #fff, 885px 977px #fff, 1324px 1654px #fff, 1238px 436px #fff,
    706px 1542px #fff, 1542px 137px #fff, 1149px 1995px #fff, 634px 1366px #fff,
    1032px 1688px #fff, 1412px 1474px #fff, 680px 1498px #fff, 610px 261px #fff,
    1272px 1607px #fff, 1364px 1326px #fff, 1881px 665px #fff, 788px 668px #fff,
    1859px 1291px #fff, 319px 467px #fff, 769px 1579px #fff, 1838px 496px #fff,
    1314px 1633px #fff, 714px 361px #fff, 1645px 254px #fff, 670px 1434px #fff,
    56px 1541px #fff, 1070px 1264px #fff, 41px 1088px #fff, 1341px 609px #fff,
    1751px 954px #fff, 1057px 233px #fff, 424px 498px #fff, 631px 719px #fff,
    1906px 1793px #fff, 816px 847px #fff, 1138px 1022px #fff, 899px 592px #fff,
    1133px 206px #fff, 783px 1708px #fff, 862px 1979px #fff, 145px 1002px #fff,
    1530px 739px #fff, 1239px 638px #fff, 393px 194px #fff, 630px 1651px #fff,
    1292px 882px #fff, 268px 1230px #fff, 261px 124px #fff, 567px 1997px #fff,
    758px 1568px #fff, 1560px 1214px #fff, 1173px 631px #fff, 1165px 729px #fff,
    1392px 1403px #fff, 1499px 760px #fff, 921px 50px #fff, 1400px 1597px #fff,
    569px 696px #fff, 1035px 1525px #fff, 666px 130px #fff, 1428px 989px #fff,
    101px 1309px #fff, 271px 276px #fff, 1277px 1352px #fff, 1724px 310px #fff,
    607px 1281px #fff, 1385px 309px #fff, 1802px 605px #fff, 1048px 1217px #fff,
    119px 197px #fff, 985px 393px #fff, 1621px 492px #fff, 187px 1349px #fff,
    432px 1010px #fff, 18px 1090px #fff, 1550px 313px #fff, 444px 1913px #fff,
    326px 681px #fff, 1020px 1588px #fff, 283px 1305px #fff, 277px 799px #fff,
    351px 4px #fff, 1580px 1788px #fff, 1821px 1820px #fff, 1613px 1514px #fff,
    194px 667px #fff, 517px 1289px #fff, 81px 875px #fff, 1685px 1928px #fff,
    1947px 105px #fff, 126px 1748px #fff, 1946px 1859px #fff, 715px 1428px #fff,
    508px 1469px #fff, 37px 463px #fff, 1634px 1927px #fff, 1931px 317px #fff,
    208px 1991px #fff, 1102px 1014px #fff, 1424px 1556px #fff, 1503px 583px #fff,
    1871px 250px #fff, 23px 401px #fff, 933px 466px #fff, 458px 823px #fff,
    1842px 1258px #fff, 1522px 939px #fff, 1975px 1112px #fff, 868px 1670px #fff,
    439px 846px #fff, 376px 985px #fff, 1887px 1356px #fff, 1913px 1907px #fff,
    689px 229px #fff, 1988px 1601px #fff, 768px 304px #fff, 1818px 1017px #fff,
    1864px 1251px #fff, 244px 912px #fff, 76px 1632px #fff, 187px 1557px #fff,
    1074px 1443px #fff, 1478px 620px #fff, 343px 1126px #fff, 1060px 301px #fff,
    1873px 1785px #fff, 1453px 452px #fff, 1069px 1459px #fff, 1728px 754px #fff,
    704px 157px #fff, 1097px 1294px #fff, 1411px 69px #fff, 101px 718px #fff,
    1632px 377px #fff, 424px 584px #fff, 1801px 1106px #fff, 1161px 327px #fff,
    1659px 1502px #fff, 452px 1680px #fff, 336px 968px #fff, 248px 175px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
